@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

body{
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 18px;
    font-family: roboto;
}


h1{
    text-align: center;
    margin-top: 50px;
    font-style: italic;
    font-family: tangerine, cursive;
    font-size: 400%;
}

h2, h3{
    background-color: rgb(83, 83, 83);
    text-align: right;
    font-family: tangerine, cursive;
    font-size: 300%;
}



